<style>
    .sound-item{
        border-left-style: solid;
        border-width: 2px;
        border-color: #155598;
        margin: 7.5px 5px;
        padding: 5px;
    }
    .bit-item{
        padding: 5px;
        display: flex;
        flex-flow: column;
        margin: 10px;
        border-left-width: 2px;
        border-left-style: double;
        border-left-color: #bb1818;
    }
</style>
<div id="bits">
    <div class="">
        <a class="bit-item" style="flex-direction: row;display: flex;">
            <img src="https://isaiahcreati.com/assests/notifications/gifs/endermite.gif" style="height: 10%;position: relative;width: 45px;margin: 5px;">
            <div style="position: relative;display: flex;flex-basis: 100%;flex-direction: column;">
                <div style="justify-content: space-between;display: flex;flex-basis: 100%;align-items: center;">
                    <div>Endermite</div>
                    <div>
                        10 Bits <img src="https://cdn.twitchalerts.com/twitch-bits/images/hd/10.gif" style="width: 18px;">
                    </div>
                </div>

                <div>
                    <p style="font-size: 14px;margin: unset;color: #888;">This spawns 1 Endermite for every 10 Bits you Cheer.</p>
                </div>
            </div>
        </a>

        <a class="bit-item" style="flex-direction: row;display: flex;">
            <img src="https://isaiahcreati.com/assests/notifications/img/mc-slime.png" style="height: 10%;position: relative;width: 45px;margin: 5px;">
            <div style="position: relative;display: flex;flex-basis: 100%;flex-direction: column;">
                <div style="justify-content: space-between;display: flex;flex-basis: 100%;align-items: center;">
                    <div>Slime</div>
                    <div>
                        15 Bits <img src="https://cdn.twitchalerts.com/twitch-bits/images/hd/10.gif" style="width: 18px;">
                    </div>
                </div>

                <div>
                    <p style="font-size: 14px;margin: unset;color: #888;">This spawns a Slime and the scale of the slime increases +1 for every 15 Bits you Cheer.</p>
                </div>
            </div>
        </a>
        <a class="bit-item" style="flex-direction: row;display: flex;">
            <img src="https://isaiahcreati.com/assests/notifications/gifs/zombie.gif" style="height: 10%;position: relative;width: 45px;margin: 5px;">
            <div style="position: relative;display: flex;flex-basis: 100%;flex-direction: column;">
                <div style="justify-content: space-between;display: flex;flex-basis: 100%;align-items: center;">
                    <div>Zombie</div>
                    <div>
                        20 Bits <img src="https://cdn.twitchalerts.com/twitch-bits/images/hd/10.gif" style="width: 18px;">
                    </div>
                </div>
        
                <div>
                    <p style="font-size: 14px;margin: unset;color: #888;">This spawns 1 Zombie for every 20 Bits you Cheer.</p>
                </div>
            </div>
        </a>  
        <a class="bit-item" style="flex-direction: row;display: flex;">
            <img src="https://isaiahcreati.com/assests/notifications/gifs/skeleton.gif" style="height: 10%;position: relative;width: 45px;margin: 5px;">
            <div style="position: relative;display: flex;flex-basis: 100%;flex-direction: column;">
                <div style="justify-content: space-between;display: flex;flex-basis: 100%;align-items: center;">
                    <div>Skeleton</div>
                    <div>
                        30 Bits <img src="https://cdn.twitchalerts.com/twitch-bits/images/hd/10.gif" style="width: 18px;">
                    </div>
                </div>
        
                <div>
                    <p style="font-size: 14px;margin: unset;color: #888;">This spawns 1 Skeleton for every 30 Bits you Cheer.</p>
                </div>
            </div>
        </a>
    </div>
</div>
