<div class="" style="width:100%;margin:25px;display:flex;flex-flow: column;" >
    <div class="m-auto" style="text-align: center;">
        <a href="/terms-of-service">Terms of Service</a>
        <br>
        <span>Business: creati@isaiahcreati.com</span>
        <br>
        <span>Website by Isaiah Creati.</span>
        <span>Did it quicker than a <a href="https://www.youtube.com/watch?v=oYmqJl4MoNI" target="_blank" >1:12</a></span>
    </div>
</div>
