<!doctype html>
<html lang="en">
   <head>

      <%- include('partials/header') %>
      
      <script>
         $(function () {
            $(".social-item").click(function() {
               //window.location = $(this).attr("href");
               window.open($(this).attr("href"), '_blank');
               return false;
            });
         });
      </script>
   </head>
   <body>
      <div class="container-body d-flex" style="width:100%;height:100%;flex-flow:column;position: absolute;">
         
         <%- include('partials/navbar')%>

         <div style="display: flex;flex-flow: row;width: 100%;height:100%; height:calc(100% - 65px);">
            <div class="container-main pt-3">
               <div class="container">
                  <!-- Nav bar with socials -->
                  <div class="row m-2">
                     <div class="col-md">
                        <div class="navbar">
                           <div class="d-flex">
                              <div class="profile-image rounded-circle" style="min-width:100px;min-height:100px;background-image:url('https://static-cdn.jtvnw.net/jtv_user_pictures/89fdf9b7-6827-42ac-964f-7529781a2967-profile_image-300x300.png');">
                              </div>
                              <div class="profile-name">
                                 <h1 class="display-4 m-2 p-2">
                                    <span class="title-underline-blue">Hey!</span> I'm Isaiah Creati
                                 </h1>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- socials -->
                  <div class="row mx-2 my-3">
                     <div class="col-md">
                        <div class="d-flex socials">

                           <div class="twitch social-item"  href="https://www.twitch.tv/isaiahcreati">

                              <div class="d-flex">
                                 <div class="svg-container">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitch" class="svg-inline--fa fa-twitch fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                       <path fill="currentColor" d="M391.17,103.47H352.54v109.7h38.63ZM285,103H246.37V212.75H285ZM120.83,0,24.31,91.42V420.58H140.14V512l96.53-91.42h77.25L487.69,256V0ZM449.07,237.75l-77.22,73.12H294.61l-67.6,64v-64H140.14V36.58H449.07Z"></path>
                                    </svg>
                                 </div>
                                 <div>
                                    <a class="font-weight-bold">Twitch</a>
                                    <br>
                                    <a class="stats">3812</a>
                                 </div>
                              </div>

                           </div>

                           <div class="youtube social-item"  href="https://www.youtube.com/channel/UC_prYRm94qoLC0k3yRVSqgg">
                              <div class="d-flex">
                                 <div class="svg-container">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" class="svg-inline--fa fa-youtube fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                       <path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
                                    </svg>
                                 </div>
                                 <div>
                                    <a class="font-weight-bold">Youtube</a>
                                    <br>
                                    <a class="stats">489</a>
                                 </div>
                              </div>
                           </div>
                           <div class="twitter social-item" href="https://twitter.com/isaiahcreati">
                              <div class="d-flex">
                                 <div class="svg-container">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                       <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                                       </path>
                                    </svg>
                                 </div>
                                 <div>
                                    <a class="font-weight-bold">Twitter</a>
                                    <br>
                                    <a class="stats">84</a>
                                 </div>
                              </div>
                           </div>
                           <div class="instagram social-item"  href="https://www.instagram.com/isaiahcreati/">
                              <div class="d-flex">
                                 <div class="svg-container">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                       <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                       </path>
                                    </svg>
                                 </div>
                                 <div>
                                    <a class="font-weight-bold">Instagram</a>
                                    <br>
                                    <a class="stats">28</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Description -->
                  <div class="row m-2">
                     <div class="col-md">
                        <div class="creati-col">
                           <div class="d-flex">
                              <div style="margin:auto;">
                                 <p class="paragraph-info m-1 p-2" style="text-indent: 50px">
                                    I stream and have built a community on twitch.tv(/isaiahcreati).
                                    I've coded a substantial amount of scripts and features to make viewing the stream a much more interactive experience. Such interactivity required access to third parties, and basic chat/bot integration didn't cut it for me.
                                    This site page should act as resource while watching to make viewing the stream seem seamless.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Video -->
                  <div class="row mx-2 my-3">
                     <div class="col-md">
                        <div class="embed-responsive embed-responsive-16by9" style="overflow:unset !important;">
                           
                           <!--src="https://player.twitch.tv/?channel=isaiahcreati&parent=www.isaiahcreati.com"-->
                           <iframe title="IsaiahCreati Twitch Video Stream" class="embed-responsive-item" src="https://player.twitch.tv/?channel=isaiahcreati&parent=localhost" allowfullscreen="" scrolling="no" allow="autoplay; fullscreen" style="width: 100%; height: 100%;"></iframe>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         
            <!-- chat right side container -->
            <div class="chat-container ui-widget-content">
               <div class="resizable" style="height:100%;width:inherit;display: flex;flex-flow: column;">
                  <div class="embed-responsive embed-responsive-16by9" style="overflow:unset !important;">
                        
                     <!--src="https://player.twitch.tv/?channel=isaiahcreati&parent=www.isaiahcreati.com"-->
                     <iframe title="IsaiahCreati Twitch Video Stream" class="embed-responsive-item" src="https://player.twitch.tv/?channel=isaiahcreati&parent=localhost&parent=www.isaiahcreati.com" allowfullscreen="" scrolling="no" allow="autoplay; fullscreen" style="width: 100%; height: 100%;"></iframe>
                     
                  </div>
                  <!---->
                  <iframe title="IsaiahCreati Twitch Chat" frameborder="0" scrolling="no" id="chat_embed" src="https://www.twitch.tv/embed/isaiahcreati/chat?darkpopout&parent=localhost&parent=www.isaiahcreati.com"style="width: 100%; height: 100%;">
                  </iframe>
                  
                  
               </div>
            </div>
         </div>
         
      </div>



      </div>
   </body>
</html>
