<!doctype html>
<html lang="en" class="h-100">
   <head>
        <%- include('partials/header') %>
   </head>
   <body class="h-100">
    <div class="w-100 h-100">
        <div class="d-flex h-100">
               <div class="m-auto" >
                  <h1 class="display-4 d-flex p-2 m-2">
                     <span class="m-auto">
                        Website down for updates. <img src="https://cdn.frankerfacez.com/emoticon/410314/4">
                     </span>
                  </h1>
                  <h4>Pushing an update and have to do some backend work. 
                     <br>
                     ETA: 4 hours?</h4>
                  <p class="p-2 m-2" style="text-align: center;">
                        Follow my
                        <a href="https://twitter.com/IsaiahCreati" target="_blank" class="alert-link">
                           <i class="fa fa-twitter" aria-hidden="true"></i> Twitter 
                        </a>
                        for updates.
                  </p>
                  <div class="m-auto pt-3">
                     <div class="twitter-tweet twitter-tweet-rendered m-auto" style="display: flex; max-width: 550px; width: 100%;">
                        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="" style="position: static; visibility: visible; width: 550px; height: 221px; display: block; flex-grow: 1;" title="Twitter Tweet" src="https://platform.twitter.com/embed/index.html?dnt=false&amp;embedId=twitter-widget-0&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=1319388651013496835&amp;lang=en&amp;origin=http%3A%2F%2Flocalhost%2F&amp;theme=light&amp;widgetsVersion=9066bb2%3A1593540614199&amp;width=550px" data-tweet-id="1285398108659232768"></iframe>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                     </div>
                     </style>
                  </div>
                  
               </div>
        </div>
    </div>
   </body>
</html>